



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #a64bf4;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.nav-bar{
  margin: auto;
  width: 90%;
  background: #fff;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 0 0 4px 4px;
}

.nav-bar .head{
  float: left;
  margin: 0 15px 0 15px;
  padding: 2px 4px 2px 4px;
  border-radius: 2px 2px 2px 2px;
  font-size: 10pt;
  font-weight: bolder;
}

.nav-bar .head:hover {
  background: #a64bf4;
  background: -webkit-linear-gradient(#00dbde, #fff, #00dbde, #fff);
  background: -o-linear-gradient(#00dbde, #fff, #00dbde, #fff);
  background: -moz-linear-gradient(#00dbde, #fff, #00dbde, #fff);
  background: linear-gradient(#00dbde, #fff, #00dbde, #fff);
}

.nav-bar .user-details{
  font-size: 9pt;
  font-weight: bolder;
}